/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****************************************************
* variables
****************************************************/
/****************************************************
* custom styles 
****************************************************/
body {
  /* background: #d32f2f; */
  font-family: 'Josefin Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.4;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.75rem;
  font-size: 20px;
  font-weight: 400;
  background-color: #d32f2f;
  border-radius: 2px;
}
.button:hover,
.button:active,
.button:focus {
  background-color: #b71c1c;
}

h3 {
  font-size: 1.675rem;
}

.full_width {
  width: 100%;
  height: 100vh;
  background: #d32f2f;
  display: flex;
  flex-wrap: wrap;
}

header.logo img {
  max-width: 130px;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.top,
.bottom {
  width: 100%;
  height: 50%;
}
.top h2,
.bottom h2 {
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.top .wrapper,
.bottom .wrapper {
  position: relative;
  flex-wrap: wrap;
}

.name_position {
  position: absolute;
}

.top {
  background: #d32f2f;
  display: flex;
}
.top .wrapper {
  position: relative;
}
.top .name_position {
  bottom: 0;
  left: 1rem;
}
.top h2 {
  color: #111;
  line-height: 0.8;
}

header {
  padding: 1rem 0;
  width: 100%;
}

ul.nav {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav a {
  display: inline-block;
  color: #ef9a9a;
  margin-left: 2rem;
  padding: 24px 24px 20px 24px;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  transition: background-color 0.6s ease, color 0.6s ease;
  line-height: 0;
  background-color: transparent;
}
.nav a:hover,
.nav a:focus {
  color: #fff;
  background-color: rgba(244, 67, 54, 0.4);
}

.bottom {
  background: #111;
  color: #d32f2f;
  display: flex;
}
.bottom .name_position {
  top: 0;
  left: 1rem;
}
.bottom h2 {
  color: #d32f2f;
}

h3.heroline {
  align-self: flex-end;
  width: 100%;
  max-width: 530px;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.4;
  padding-bottom: 3rem;
  margin-left: auto;
  color: #ffebee;
}

.coming_soon {
  display: block;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 120px;
  color: #ffebee;
}
.coming_soon h3,
.coming_soon p {
  margin-bottom: 1rem;
  width: 100%;
}
.coming_soon h3 a,
.coming_soon p a {
  color: #e57373;
}
.coming_soon h3 a:hover,
.coming_soon h3 a:focus,
.coming_soon h3 a:active,
.coming_soon p a:hover,
.coming_soon p a:focus,
.coming_soon p a:active {
  color: #f44336;
}
.coming_soon .button_container {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.coming_soon .button {
  margin-left: auto;
  margin-right: 0;
}

@media screen and (max-width: 800px) {
  header.logo {
    margin-bottom: 1rem;
  }
  header.logo img {
    max-width: 100px;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 22px;
  }
  h3.heroline {
    font-size: 28px;
    padding-bottom: 5rem;
  }
  .top {
    height: auto;
  }
  .bottom {
    height: auto;
    padding-bottom: 3rem;
  }
  .top h2,
  .bottom h2 {
    font-size: 32px;
  }
  .full_width {
    height: initial;
  }
  .wrapper {
    height: auto;
  }
}
